<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h2>Error</h2><hr/>
    <div class="errorPage">
        <span class="oops">Oops!</span><br/>
        <p>There seems to be a problem with the page you requested:</p>
        <p th:text="${'path: ' + path}"/>
        <p th:text="${'timestamp: ' + timestamp}"/>
        <p th:text="${'status: ' + status}"/>
        <p th:text="${'error: ' + error}"/>
        <p th:text="${'exception: ' + exception}"/>
        <p th:text="${'message: ' + message}"/>
        <p th:text="${'errors: ' + errors}"/>
        <p th:text="${'trace: ' + trace}"/>
        <img th:src="@{/images/MissingPage.png}"/>
    </div>
</body>
</html>